In [1]:
#Population models for Syria

%matplotlib inline

from modsim import *

In [15]:
from pandas import read_csv

In [55]:
import csv
#myfile = open('C:/Users/epan/Desktop/popdata.csv')   # Windows
#mycsv = myfile.read()

filename = 'C:/Users/epan/Desktop/popdata.csv'
tables = read_csv(filename, header=2, index_col=1, nrows=1, skiprows=227)
#tables = read_csv(filename, header=1, index_col=1, nrows=1, skiprows=226)

In [56]:
tables

,Seychelles,"Population, total",SP.POP.TOTL,41700,42889,44042,45176,46322,47500,48699,...,86956,87298,89770,87441,88303,89949,91359,93419,94677,Unnamed: 61
SYC,,,,,,,,,,,,,,,,,,,,,
SYR,Syrian Arab Republic,"Population, total",SP.POP.TOTL,4573512,4721896,4875422,5034646,5200336,5373137,5553246,...,20325443,20824893,21018834,20863993,20420701,19809141,19203090,18734987,18430453,NaN